@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
  --textColor: #FFFFFF;
  --font: 'Karla', sans-serif;
}

/* Background untuk tampilan desktop */
html {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
  color: var(--textColor);
  scroll-behavior: smooth;
}

@media only screen and (min-width: 769px) {
  html {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

/* Background untuk tampilan perangkat seluler */
@media only screen and (max-width: 768px) {
  html {
    background-image: url("images/mobile-background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}



body {
  margin: 0;
  padding: 0;
  height: fit-content;
  min-height: 100%;
}

.description {
  color: var(--textColor);
  text-align: center;
  margin: 27px auto;
  margin-top: 10px;
  width: 90%;
  max-width: 500px;
}

.profilePicture,
.profilePicture img {
  position: relative;
  width: 130px;
  height: 130px;
  display: block;
  margin: 35px auto 20px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.userName {
  color: var(--textColor);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  display: block;
  font-family: var(--font);
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}

.link {
  position: relative;
  background-color: white;
  color: #212529;
  border: solid #212529 2px;
  border-radius: 40px;
  font-size: 0.9rem;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--textColor);
  }
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--textColor);
  }
}
